@import '../../variables.scss'

.artwork-map-container
  position: fixed
  top: 0
  left: 0
  height: 100vh
  width: 100vw

.artwork-map-list
  position: fixed
  z-index: 1000
  bottom: 0
  width: 100%
  overflow-x: scroll
  background: white
  margin: 0
  padding:  0 5px 3px
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: flex-end
  border-top: 1px solid rgba(0,0,0,0.3)

.map-pointer
  width: 15px
  height: 32px
  cursor: pointer

  svg
    fill: $red

.map-list-artwork
  width: 120px
  padding: 0 5px
  flex-shrink: 0
  transition: width 0.5s ease-in-out

  svg
    fill: $less-dark
    cursor: pointer

  img
    width: 100%

  a
    width: 100%
    cursor: pointer

  p
    padding: 3px 0
    margin: 0 0 0 5px
    text-align: center
    color: $dark
    font-size: 10px
    line-height: 1.2
    font-weight: 400

.map-art-focus
  width: 140px
  transition: width 0.5s ease-in-out

  .artwork-location-container
    display: none
  p
    font-size: 11px
    font-weight: 800

.artwork-location-container
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  margin: 5px 0

.location-button
  display: block

.location-button-hide
  display: none

.map-list-locate-text
  font-size: 9px
  color: $dark
  font-weight: 300
  opacity: 0.7

.artwork-map-list-text
  width: 100%

  p
    font-size: 10px
    line-height: 1.2
    color: $dark
    margin: 0
    padding: 0
    text-align: center
