@import '../../variables.scss'

.nav
  width: 100%
  margin: 0
  padding: 0

.nav-button
  width: 40px
  height: 40px
  position: absolute
  top: 0
  right: 0
  background: $nav-background

  a
    width: 40px
    height: 40px
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    cursor: pointer

  svg
    line
      stroke: $dark
      stroke-width: 1.5px
      stroke-linecap: round
