@import '../../variables.scss'

.nav
  width: 100%
  margin: 0
  padding: 0
  display: flex
  flex-direction: row
  flex-wrap: wrap

.nav-button
  width: 30px
  height: 30px
  position: fixed
  z-index: 200
  top: 4px
  right: 5%
  background: none
  cursor: pointer
  border: none

  &:focus
    outline: none

  span
    display: block
    position: absolute
    height: 2px
    left: 7px
    border-radius: 2px
    opacity: 1
    background: $menu-color
    transition: top 0.2s ease-in 0.25s

  span:nth-child(odd)
    width: 23px

  span:nth-child(even)
    width: 17px

  span:nth-child(1)
    top: 9px
    transform: rotate(0deg)
    transition: transform 0.22s ease-in, top 0.1s ease-in 0.25s

  span:nth-child(2)
    top: 16px
    transition: opacity 0.22s ease-in, top 0.1s ease-in 0.25s

  span:nth-child(3)
    top: 23px
    transform: rotate(0deg)
    transition: transform 0.22s ease-in, top 0.1s ease-in 0.25s

  span:nth-child(4)
    top: 30px
    transition: opacity 0.22s ease-in, top 0.1s ease-in 0.25s

.nav-button-open

  span:nth-child(1)
    top: 20px
    transform: rotate(225deg)
    transition: transform 0.22s ease-in 0.1s, top 0.2s ease-in

  span:nth-child(2)
    top: 20px
    opacity: 0
    transition: opacity 0.22s ease-in, top 0.2s ease-in

  span:nth-child(3)
    top: 20px
    transform: rotate(135deg)
    transition: transform 0.22s ease-in 0.1s, top 0.2s ease-in

  span:nth-child(4)
    top: 20px
    opacity: 0
    transition: opacity 0.22s ease-in, top 0.2s ease-in

.nav-menu
  position: fixed
  background: $nav-background
  opacity: 0.95
  width: 90%
  margin: 0
  padding: 60px 5% 5px
  top: -450px
  z-index: 100
  transition: top 0.5s ease-in-out
  border-bottom: none

.nav-menu-open
  left: 0
  top: 0
  transition: top 0.5s ease-in-out

.nav-links-cities-container
  display: flex
  width: 100%
  flex-direction: row

.nav-switch-filter-container
  display: flex
  width: 100%
  flex-direction: row
  margin-top: -20px
  justify-content: flex-start
  align-items: center
